
    img{
        width: 100px;
        height: 100px;
        display: block;
      
        margin-top: 5px;
        border: 2px solid salmon ;
    }
    
   a{
       text-decoration: none;
      
     
     }

  
  